@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --navbarHeight: 56px;
    --firstColor: #1A0033; 
    --secondColor: #0D001A; 

    --titleFontSize: 2.5rem;
    --subtitleFontSize: 1.25rem;
}

@media (min-width: 768px) {
    :root {
        --navbarHeight: 64px;
    
        --titleFontSize: 3rem;
        --subtitleFontSize: 1.5rem;
    }
}

@media (min-width: 1024px) {
    :root {
        --navbarHeight: 72px;
    
        --titleFontSize: 4rem;
        --subtitleFontSize: 1.75rem;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: rgb(13,0,26);
    
}

@media (min-width: 768px) {
    body {
        height: 100vh;
        background: linear-gradient(90deg, rgba(13,0,26,1) 0%, rgba(26,0,51,1) 100%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding: 0 1rem;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
}

.navbar {
    position: relative;
}

.navbar-container {
    height: var(--navbarHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 24px;
    height: 24px;
}

@media (min-width: 1024px) {
    .navbar-logo {
        width: 32px;
        height: 32px;
    }
}

.navbar-toggler {
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100vh;
    background-color: var(--secondColor);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transition: left .5s ease-in-out;
}

@media (min-width: 768px) {
    .navbar-nav {
        position: static;
        border: none;
        flex-direction: row;
        gap: 1rem;
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
    }
}

@media (min-width: 1024px) {
    .navbar-nav {
        gap: 1.5rem;
    }
}

.navbar-nav.show {
    left: 0;
}

.nav-item {
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .nav-item {
        margin-bottom: 0;
    }
}

.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
} 

@media (min-width: 768px) {
    .nav-link {
        text-transform: none;
    }
}

@media (min-width: 1024px) {
    .nav-link {
        font-size: 1.125rem;
    }
}

.hero-container {
    height: calc(100vh - var(--navbarHeight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
}

@media (min-width: 768px) {
    .hero-container {
        height: 480px;
        flex-direction: row;
        column-gap: 3rem;
    }
}

@media (min-width: 1024px) {
    .hero-container {
        height: calc(100vh - var(--navbarHeight));
        column-gap: 4rem;
    }
}

.hero-info {
    text-align: center;
    color: #ffffff;
}

@media (min-width: 768px) {
    .hero-info {
        text-align: left;
    }
}

.hero-title {
    font-size: var(--titleFontSize);
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.2;
}

@media (min-width: 1024px) {
    .hero-title {
        margin-bottom: 1.5rem;
    }
}

.hero-subtitle {
    font-size: var(--subtitleFontSize);
    margin-bottom: 1rem;
    line-height: 1.2;
}

@media (min-width: 1024px) {
    .hero-subtitle {
        margin-bottom: 1.5rem;
    }
}

.button {
    display: inline-block;
    background-color: #ffffff;
    color: var(--secondColor);
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (min-width: 1024px) {
    .button {
        padding: .75rem 2rem;
        border-radius: 2rem;
    }
}

.hero-img {
    width: 300px;
}

@media (min-width: 768px) {
    .hero-img {
        width: 340px;
    }
}

@media (min-width: 1024px) {
    .hero-img {
        width: 570px;
    }
}